body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  padding-left: 200px;
  padding-right: 200px;
  height: 70px;
}

.links {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  align-items: flex-end;
  gap: 30px;
}

.landing {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  padding-left: 200px;
  padding-right: 200px;
  height: 450px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.landing-text {
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
  width: 500px;
  height: 250px;
}

.landing p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1f2937;
  font-size: 36px;
  gap: 30px;
  padding-top: 50px;
}

.image-placeholder{
  height: 150px;
  width: 150px;
  border: solid #3882f6 5px;
  border-radius: 10px;
}

.images{
  display: flex;
  gap: 30px;
}

.image{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information p{
  color: #1f2937;
  font-size: 18px;
  text-align: center;
}

.quote{
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  align-items: center;
  padding: 100px;
}

.quote p{
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

.quote div{
  width: 770px;
}

.left {
  color: #1f2937;
  font-size: 24px;
  text-align: right;
}

.action{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  
}

.blue-box{
  background-color: #3882f6;
  border-radius: 5px;
  height: 150px;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  color: #f9faf8;
  font-size: 24px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column p{
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.action button{
  border: solid #f9faf8 2px;

}

.footer{
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  text-align: center;
  padding: 40px;
}